grid-width($size, $width = $grid-width, $gap = $grid-gap) {
   return round($width * $size + $gap * ($size - 1))
}

$block,
.block {
   box-sizing border-box
   padding-left $block-padding
   padding-right $block-padding
   +do(750) {
      padding-left $block-padding-small
      padding-right $block-padding-small
   }
}


$block-wrapper,
.block-wrapper {
   box-sizing border-box
   margin-left auto
   margin-right auto
   if ($block-max-width) {
      min-width $block-width
      max-width $block-max-width
   } else {
      width $block-width
   }
}
