// Block sizes
$block-padding = 30px
$block-padding-small = 20px
//$block-width = (320px - ($block-padding-small * 2))
$block-width = 1240px
$block-max-width = 1240px

$grid-width = 85px
$grid-gap = 20px


// Font sizes
$size-main = 16px

$line-main = (24/no-unit($size-main))


// Margins
$margin-paragraph = (24/no-unit($size-main))em


// Fonts
$font-fallback-main = 'Arial', sans-serif
$font-roboto = 'Roboto', $font-fallback-main
$font-title = $font-roboto
$font-main = $font-roboto


// Colors
$color-red = #ff0000
$color-blue = #0000ff
$color-black = #000
$color-white = #fff
$color-gray = #e2e2e2

$color-main = $color-black
$color-link = $color-blue
$color-hover = $color-red
$color-error = $color-red


// Animations
$transition-long = unquote('.75s cubic-bezier(0.77, 0, 0.175, 1)')
$transition-medium = unquote('.5s cubic-bezier(0.77, 0, 0.175, 1)')
$transition-main = unquote('.25s cubic-bezier(0.645, 0.045, 0.355, 1)')
$transition-fast = unquote('.15s cubic-bezier(0.645, 0.045, 0.355, 1)')
