{% extends "common/layout-main.twig" %}
{% block body_mod %}{% endblock %}

{% block body %}
    <div class="section section_intro block">
        <div class="block-wrapper">
            <div class="section__wrapper section__wrapper_align_center">
                <div class="filmsIntro">
                    <div class="filmsIntro__wrapper">
                        <div class="filmsIntro__side">
                            <div class="filmsIntro__poster" style="background-image: url('images/temp/poster.jpg')"></div>
                        </div>
                        <div class="filmsIntro__main">
                            <div class="filmsIntro__main-wrapper">
                                <div class="filmsIntro__header">
                                    <div class="filmsIntro__header-wrapper">
                                        <div class="filmsIntro__header-main">
                                            <div class="filmsIntro__title">
                                                Бегущий по лезвию 2049
                                            </div>
                                        </div>
                                        <div class="filmsIntro__header-side">
                                            <div class="filmsIntro__count">1/5</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filmsIntro__desc">
                                    В недалеком будущем мир населен людьми и репликантами, созданными выполнять самую тяжелую работу. Работа офицера полиции Кей — держать репликантов под контролем в условиях нарастающего напряжения… Пока он случайно не становится обладателем секретной информации,
                                    которая ставит под угрозу существование всего человечества. Желая найти ключ к разгадке, Кей решает разыскать Рика Декарда, бывшего офицера специального подразделения полиции Лос-Анджелеса, который бесследно исчез много лет назад.
                                </div>
                                <form action="">
                                    <div class="filmsIntro__rating">
                                        <div js-rating class="rating filmsIntro-rating">
                                            <div class="rating__list">
                                                <div js-rating-item class="rating__item rating__item_active" data-value="1"></div>
                                                <div js-rating-item class="rating__item rating__item_active" data-value="2"></div>
                                                <div js-rating-item class="rating__item rating__item_active" data-value="3"></div>
                                                <div js-rating-item class="rating__item rating__item_active" data-value="4"></div>
                                                <div js-rating-item class="rating__item" data-value="5"></div>
                                            </div>
                                            <input type="text" hidden js-rating-input>
                                        </div>
                                    </div>
                                    <div class="filmsIntro__action">
                                        <div class="filmsIntro__action-item">
                                            <button class="button"><span class="button__title">Следуюший</span><span class="button__ok"></span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_rec block">
        <div class="block-wrapper">
            <div class="section__wrapper">
                <div class="section__header">
                    <div class="section__title">
                        Рекомендуем Вам посмотреть
                    </div>
                </div>
                <div class="section__content">
                    <div class="slider-films" js-film-recommend>
                        <div class="slider-films__nav">
                            <div class="slider-films__nav-prev" js-film-recommend-prev ></div>
                            <div class="slider-films__nav-next" js-film-recommend-next ></div>
                        </div>
                        <div class="slider-films__list" js-film-recommend-list>
                            {% for item in 1..9 %}

                                <div class="slider-films__list-item">
                                    <div class="slider-films__item">
                                        <div class="slider-films__poster" data-fancybox data-src="#film1">
                                            <img src="images/temp/poster.jpg" alt="">
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    {#<div class="section__msg">#}
                    {#Ставьте оценки, чтобы здесь появились фильмы, которые Вам понравятся.#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="film1">
        <div class="filmsIntro">
            <div class="filmsIntro__wrapper">
                <div class="filmsIntro__side">
                    <div class="filmsIntro__poster" style="background-image: url('images/temp/poster.jpg')"></div>
                </div>
                <div class="filmsIntro__main">
                    <div class="filmsIntro__main-wrapper">
                        <div class="filmsIntro__header">
                            <div class="filmsIntro__header-wrapper">
                                <div class="filmsIntro__header-main">
                                    <div class="filmsIntro__title">
                                        Бегущий по лезвию 2049
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filmsIntro__desc">
                            В недалеком будущем мир населен людьми и репликантами, созданными выполнять самую тяжелую работу. Работа офицера полиции Кей — держать репликантов под контролем в условиях нарастающего напряжения… Пока он случайно не становится обладателем секретной информации,
                            которая ставит под угрозу существование всего человечества. Желая найти ключ к разгадке, Кей решает разыскать Рика Декарда, бывшего офицера специального подразделения полиции Лос-Анджелеса, который бесследно исчез много лет назад.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
